<html lang="pl">
    <head>
        <meta charset="UTF-8"/>
        <title>księgarnia</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('stylesheet.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
        <script type="text/javascript" src="{{ asset('jquery-3.5.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('sticky.js') }}"></script>
    </head>
    <body>
        <header id="header_main">
            <div id="header_block">
                <div id="header_title">
                    <div id="main_tile">Witaj w księgarni internetowej!</div>
                    <div id="login_info">
                        {% if logged != NULL %}
                            <div>
                                <div>Zalogowano: {{ login }}</div>
                                <div><a href="/user" style="text-decoration: underline;">moje konto</a></div>
                            </div>
                        {% else %}
                            Nie Zalogowano
                        {% endif %}
                    </div>
                </div>
                <div id="main_menu_container">
                    <section id="main_menu">
                        <ol id="menu_option">
                            <li> <div>Książki</div>
                                <ol>
                                    <li onclick="redirect('ksiazka','kryminal')"> Kryminały </li>
                                    <li onclick="redirect('ksiazka','fantasy')"> Fantasy </li>
                                    <li onclick="redirect('ksiazka','przygodowa')"> Przygodowe </li>
                                    <li onclick="redirect('ksiazka','romans')"> Romanse </li>
                                    <li onclick="redirect('ksiazka','literatura-piekna')"> Literatura Piękna </li>
                                </ol>
                            </li>
                            <li> <div>Gry planszowe</div>
                                <ol>
                                    <li onclick="redirect('gra','rodzinne')"> Rodzinne </li>
                                    <li onclick="redirect('gra','imprezowe')"> Imprezowe </li>
                                    <li onclick="redirect('gra','serialowe')"> Serialowe </li>
                                    <li onclick="redirect('gra','dla-dzieci')"> Dla Dzieci </li>
                                    <li onclick="redirect('gra','erotyczne')"> Erotyczne </li>
                                </ol>
                            </li>
                            <li> <div>Inne produkty</div>
                                <ol>
                                    <li onclick="redirect('inne','ozdoba')"> Ozdoby </li>
                                    <li onclick="redirect('inne','film-na-cd')"> Filmy na CD </li>
                                    <li onclick="redirect('inne','maskotka')"> Maskotki </li>
                                    <li onclick="redirect('inne','scyzoryk')"> Scyzoryki </li>
                                    <li onclick="redirect('inne','zabawka')"> Zabawki </li>
                                </ol>
                            </li>
                            <li> <div>Kontakt</div>
                                <ol>
                                    <li>Telefon</li>
                                    <li>E-mail</li>
                                    <li>Nasz Adres</li>
                                </ol>

                            </li>
                            <li>
                                <div id="log_in_or_out">
                                    {% if logged != NULL %}
                                        Wyloguj
                                    {% else %}
                                        Zaloguj
                                    {% endif %}
                                </div>
                            </li>
                        </ol>
                        <div style="clear: both"></div>
                    </section>
                </div>
            </div>

        </header>
        <article>
            <div id="main_site">
                <div id="newwest_title"> {{ what }} z kategorii {{ subcat_name }}:</div>
                {% for book in books %}
                <div class="newest">
                    <div class="image_new">
                        <img src="{{ asset('images/test_image.jpg') }}">
                    </div>
                    <div class="content">
                        <div class="title"> <a href="/product/{{ book.getId() }}">{{ book.getTitle() }}</a></div>
                        <div class="desc"> {{ book.getDescribtion() }} </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                {% endfor %}

            </div>
            {% if last_site != 1 %}
                <div id="sites_container">
                    <div id="sites">
                        {% if site > 2 %}
                            <div class="inner_sites"><a href="{{ asset('/find/'~thing~'/'~subcat~'/'~1) }}">pierwsza</a></div>
                            <div style="float: left; display: inline-block; font-size: 25px;">...</div>
                        {% endif %}
                        {% if site != 1 %}
                            <div class="inner_sites"><a href="{{ asset('/find/'~thing~'/'~subcat~'/'~(site - 1)) }}">poprzednia</a></div>
                            <div class="inner_sites" class="numbers"><a href="{{ asset('/find/'~thing~'/'~subcat~'/'~(site - 1)) }}"> {{ site -1 }}</a></div>
                        {% endif %}
                        <div class="inner_sites" id="current_size" class="numbers"> {{ site }}</div>
                        {% if site != last_site %}
                            <div class="inner_sites" class="numbers"> <a href="{{ asset('/find/'~thing~'/'~subcat~'/'~(site + 1)) }}"> {{ site +1 }}</a> </div>
                            <div class="inner_sites"><a href="{{ asset('/find/'~thing~'/'~subcat~'/'~(site + 1)) }}"> następna</a></div>
                        {% endif %}
                        {% if site < last_site - 1 %}
                            <div style="float: left; display: inline-block; font-size: 25px;">...</div>
                            <div class="inner_sites"><a href="{{ asset('/find/'~thing~'/'~subcat~'/'~(last_site)) }}"> ostatnia</a></div>
                        {% endif %}
                        <div style="clear: both;"></div>
                    </div>
                </div>
            {% endif %}
        </article>



    </body>

</html>